main {
  background-color: var(--white);
  border-radius: 10px;
  max-width: 600px;
  display: flex;

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 300px;
    width: 100%;
  }

  img {
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .parfumeImage {
    width: 100%;
    max-width: 300px;
  }
}
